<h3>{{name}}</h3>
<clr-datagrid [clrDgLoading]="loading" class="datagrid-suit">
  <clr-dg-column style="width: 35px"></clr-dg-column>
  <clr-dg-column [clrDgField]="'Name'">Name</clr-dg-column>
  <clr-dg-column [clrDgField]="'fileName'">Image</clr-dg-column>
  <clr-dg-column [clrDgField]="'status'">Status</clr-dg-column>
  <clr-dg-column></clr-dg-column>

  <clr-dg-row *clrDgItems="let doc of entries; let i = index">
    <clr-dg-cell>{{i + 1}}</clr-dg-cell>
    <clr-dg-cell>{{doc.Name}}</clr-dg-cell>
    <clr-dg-cell>
      <clr-tooltip>
        <span clrTooltipTrigger >{{doc.fileName}}</span>
        <clr-tooltip-content clrPosition="right" clrSize="md" *clrIfOpen>
          <img src="http://localhost:3000/{{doc.fileName}}" width="215">
        </clr-tooltip-content>
      </clr-tooltip>
    </clr-dg-cell>
    <clr-dg-cell>{{doc.status}}</clr-dg-cell>
    <clr-dg-cell>
      <clr-dropdown [clrCloseMenuOnItemClick]="false">
        <button type="button" clrDropdownTrigger>
          <clr-icon shape="ellipsis-horizontal"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen>
          <button type="button" (click)="deleteCsv(doc._id)" clrDropdownItem>Delete</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <span *ngIf="pager.totalItems">
      {{pager.firstItem + 1}} - {{pager.lastItem + 1}}
      of {{pager.totalItems}} Files
    </span>
    <clr-dg-pagination #pager [clrDgPageSize]="rows"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
