<clr-modal [(clrModalOpen)]="show" (clrModalOpenChange)="closeDialog()">
  <h3 class="modal-title">Add File</h3>
  <div class="modal-body">
    <form novalidate (ngSubmit)="save(csvForm)" [formGroup]="csvForm">
      <div class="form-group">
        <label for="name" class="required">File Name</label>
        <input type="text" id="name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="file" class="required">File</label>
        <input type="file" id="file" name="file" (change)="fileSelected()" #file>
        <span class="file-name">{{fileInfo?.name}}</span>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="csvForm.invalid">Save</button>
        <button type="button" class="btn btn-outline" (click)="closeDialog()">Cancel</button>
      </div>
    </form>
  </div>
</clr-modal>
