<clr-datagrid [clrDgLoading]="loading" class="datagrid-suit">
  <clr-dg-action-bar>
    <button type="button" (click)="showAddCsv = true" class="btn btn-sm btn-secondary">Add File</button>
  </clr-dg-action-bar>
  <clr-dg-column style="width: 35px"></clr-dg-column>
  <clr-dg-column [clrDgField]="'date'">Date</clr-dg-column>
  <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
  <clr-dg-column [clrDgField]="'count'">Count</clr-dg-column>
  <clr-dg-column [clrDgField]="'completed'">Completed</clr-dg-column>
  <clr-dg-column [clrDgField]="'incomplete'">InComplete</clr-dg-column>
  <clr-dg-column></clr-dg-column>

  <clr-dg-row *clrDgItems="let doc of csvs; let i = index">
    <clr-dg-cell>{{i + 1}}</clr-dg-cell>
    <clr-dg-cell>{{doc.date}}</clr-dg-cell>
    <clr-dg-cell>{{doc.name}}</clr-dg-cell>
    <clr-dg-cell>{{doc.count}}</clr-dg-cell>
    <clr-dg-cell>{{doc.completed}}</clr-dg-cell>
    <clr-dg-cell>{{doc.incomplete}}</clr-dg-cell>
    <clr-dg-cell>
      <clr-dropdown [clrCloseMenuOnItemClick]="false">
        <button type="button" clrDropdownTrigger>
          <clr-icon shape="ellipsis-horizontal"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen>
          <button type="button" (click)="showCsvDetails(doc._id, doc.name)" clrDropdownItem>Show</button>
          <button type="button" (click)="deleteCsv(doc._id)" clrDropdownItem>Delete</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <span *ngIf="pager.totalItems">
      {{pager.firstItem + 1}} - {{pager.lastItem + 1}}
      of {{pager.totalItems}} Files
    </span>
    <clr-dg-pagination #pager [clrDgPageSize]="rows"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<app-csv-add *ngIf="showAddCsv" [show]="showAddCsv" (hide)="closeDialog($event)"></app-csv-add>
