<header class="header-3">
  <div class="branding">
    <a class="nav-link">
      <clr-icon shape="upload-cloud"></clr-icon>
      <span class="title">CSV</span>
    </a>
  </div>
</header>
<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/csv" routerLinkActive="active">CSV</a>
    </li>
  </ul>
</nav>